## /etc/systemd/system/registry.service 
[Unit]
Description=Podman Registry with NGINX TLS
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/podman pod create --name registry-pod -p 443:443
ExecStartPost=/usr/bin/podman run --rm --pod registry-pod --name registry   -v /srv/registry/data:/var/lib/registry   docker.io/library/registry

ExecStartPost=/usr/bin/podman run --rm --pod registry-pod --name registry-nginx   -v /srv/registry/nginx:/etc/nginx/conf.d:ro   -v /srv/registry/ssl:/etc/nginx/ssl:ro   docker.io/library/nginx:alpine

ExecStop=/usr/bin/podman pod stop registry-pod
ExecStopPost=/usr/bin/podman pod rm registry-pod

[Install]
WantedBy=multi-user.target

